[Unit]
Description=Petcam HLS streaming server
After=network.target

[Service]
Type=simple
User=@REMOTE_USER@
WorkingDirectory=/home/@REMOTE_USER@/petcam
ExecStart=/home/@REMOTE_USER@/petcam/petcam @LED_FLAGS@
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
